<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.unican.is.appgasolineras">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="replace"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="replace"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="replace"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="replace"/>
    <uses-permission android:name="android.permission.INTERNET" tools:node="replace"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="replace"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:node="replace"/>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGasolineras"
        android:usesCleartextTraffic="false"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="32">
        <activity
            android:name=".activities.listaFavoritas.ListaFavoritasView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.filtrar.FiltrarView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.info.InfoView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.filtroPermanente.FiltroPermanenteView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.detail.GasolineraDetailView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.MainView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.menuPrincipal.MenuPrincipalView"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>